* {
    padding: 0px;
    margin: 50px;
    color: #FAC45A;
}

body {
    background-color:beige;
    padding: 0px;
    margin: 0px;
}

article {
    border: 1px solid #E7ECB0;
    box-shadow: 2px 2px 5px #E7ECB0;
    margin: 3em;
    padding: 1em;
}

aside {
    background-color: #E7ECB0;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    border: 2px solid #040404;
    float: right;
    width: 30%;
}

footer {
    background-color: #E7ECB0;
    clear: both;
    text-align: center;
    margin: 2em;
    padding: 2em;
}

header {
    border: 3px solid #040404;
    background-color: #FAC45A;
    font-family: sans-serif;
    height: 120px;
    padding: 0;
}

main {
    background-color:beige;
}

header * {
    color: #FAC45A;
}

hr {
    padding: 0px;
    border: 4px solid #FAC45A;
}

li {
    text-align: left;
    margin: 5px 3em;
    padding: 0px;
}

/* ----------------------------------------------- */
/* Classes */

.header_logo {
    width: 80px;
    float: right;
    background-color: white;
    box-shadow: 2px 2px 5px #E7ECB0;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0;
}

.page {
    padding: 2em;
    box-shadow: 2px 2px 5px #E7ECB0;
    background-color: #eeeeee;
    border: 3px solid #040404;
    border-radius: 10px;
    width: 50%;
    float: left;
}

body {
    color: green;
}

h1 {
    color: #0F314D;
    text-align: center;
    background-color: #E7ECB0;
}